body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: darkred;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo h1 {
    margin: 0;
    font-size: 24px;
}

.user-actions {
    display: flex;
}


  
#signin-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

main {
    flex: 1;
    background-color: lightsalmon;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.add-book {
    text-align: center;
    margin-bottom: 20px;
}

#add-book-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#library-container {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    width: calc(50% - 10px);
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    
    
}


footer {
    background-color: darkred;
    padding: 10px;
    text-align: center;
    flex-shrink: 0;
}

/* Add custom styles for buttons */

.btn {
    margin: 5px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .btn:hover {
    background-color: #45a049;
    opacity: .85;
  }
  
  .btn:active {
    background-color: #3c903c;
  }
  
  /* Style the "Add New Book" button */
  #add-book-btn {
    background-color: #ff5722;
  }
  
  /* Style the "Sign In" button */
  #signin-btn {
    background-color: #2196f3;
  }
  .btn-remove {
    background-color: #ff3d00;
  }
  
  
  .btn-toggle-read {
    background-color: #ffc107;
  }
