<%- include("partials/header.ejs") %>

    <main>


    <form class="w-100" action="/search" method="get">
        <input type="search" id="searchInput" class="form-control" placeholder="Enter the book name" aria-label="Search">
        <div class="dropdown mt-2">
          <ul id="dropdownList"></ul>
        </div>
      </form>


    <div class="album py-5 bg-light">
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3" id="cardContainer">
            

            <div class="col">
                <div class="card text-light bg-dark mb-3" style="max-width: 18rem;">
                    <div class="card-header"><h4>A Game of Thrones</h4></div>
                    <div class="card-body">
                      <h5 class="card-title">George R.R. Martin</h5>
                      <p class="card-text">694 pages</p>
                      <div id="buttons">
                          <a href="#/" class="btn btn-danger" style="margin-right: 2px;">Delete</a>
                          <a href="#/" class="btn btn-danger read">Read</a>
                      </div>
                    </div>
                  </div>
            </div>


          </div>
        </div>
      </div>
    
    </main>

<%- include("partials/footer.ejs") %>