.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
  }
  .icons{
    height: 50px;
    width: 50px;
    margin: 5px;
  }